body{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border: none;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}


#default{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: auto;
    height: auto;
    
    font-size: 24px ;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;

    margin-bottom: 5px;
    margin-right: 10px;
    padding: 5px 10px;
}

#rainbowMode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: auto;
    height: auto;

    font-size: 24px ;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;

    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#resetGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: auto;
    height: auto;

    font-size: 14px ;
    background-color: white;
    border: 2px dashed black;
    border-radius: 8px;

    
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#gradientMode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: auto;
    height: auto;

    font-size: 24px ;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;

    
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#changeSquares{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: auto;
    height: auto;

    font-size: 14px ;
    background-color: white;
    border: 2px dashed black;
    border-radius: 8px;

    
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: white;
}

.gradientHover{

}